@charset "UTF-8";
@font-face {
    font-family: 'Passion One';
    src: url('fontes/PassionOne-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Sriracha';
    src: url('fontes/Sriracha-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte-cabeçalho: 'Passion One', cursive;
    --fonte-textos: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    min-height: 100vh;
    background-color: darkgrey;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    min-height: 150px;
    text-align: center;
}
header > h1{
    color: white;
    font-family: var(--fonte-cabeçalho);
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 10vw;
}
header > p{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;
}
header > p > a:hover{
    text-decoration: underline;
    color: white;
}
header > p > a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--fonte-textos);
    font-size: 3vw;
    
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgba(51, 51, 51, );
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.507);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: right center;
}
footer{
    background-color: black;
    color: white;
}